# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Output and cache
!output/
!output/**
*.log
*.gz
*.zip
*.tar
*.tar.gz

# Virtual environment
venv/
.env
.env.*

# Unit test / coverage / pytest
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
.pytest_cache/

# Test artifacts
tests/fixtures/
*.sqlite

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Git
*.orig

# Jupyter
.ipynb_checkpoints/

# Misc
*.egg
*.egg-info/
dist/
build/